<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allotment Sheet</title>
    <style>
		ul{
		list-style-type:none;
		}

		li{
		padding:10px;
		}

		div{
		text-align:center;
		}

		body{
		border-style:solid;
		border-width:5px;
		}

		table{
		border: 2px solid black;
		border-collapse: collapse;
		border-spacing:5em;
		margin-left:30px;
		margin-right:20px;

		align:center;
		}
		td,th{
		padding:15px;
		text-align:center;
		}
		thead{
		height:50px;
		padding:20px;
		}
		</style>
	</head>
	<body>
	<div>
		<h1 style="font-family:'Times New Roman'"><b>The National Institute Of Engineering</b></h1>
		<h3 style="font-family:'Times New Roman'">Mysuru-570008,PH. NO. 0821-4004950/2480996</h3>
		<h2 style="font-family:'Times New Roman'"><u><b>STUDENT ALLOTMENT SHEET</b></u></h2>
    </div>
	<ul>
	<li><b>NAME:</b></li>
	<li><b>ID:</b></li>
	<li><b>ROOM NO.:</b></li>
	<li><b>SUBJECT CODE:</b></li>
	<li><b>SUBJECT:</b></li>
	</ul>
	<table border="1" width="95%" cellspacing="10px">

	<thead >
	<th width="2%" height="10px"><b>Sl no</b></th>
	<th width="10%" height="10px"><b>USN</b></th>
	<th width="20%" height="10px"><b>NAME</b></th>
    <th width="20%" height="10px"><b>BOOKLET NO.</b></th>
	<th width="20%" height="10px"><b>Signature</b></th>
	</thead>
	<tbody>
	<tr>
	<td>1</td>
	<td></td>
	<td></td>
	<td></td>
    <td></td>
	</tr>
	<tr>
	<td>2</td>
	<td></td>
	<td></td>
	<td></td>
    <td></td>
	</tr>
	<tr>
	<td>3</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>4</td>
	<td></td>
	<td></td>
	<td></td>
    <td></td>
	</tr>
	<tr>
	<td>5</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>6</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>7</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>8</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>9</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>10</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>11</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>12</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>13</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>14</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>15</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>16</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>17</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>18</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>19</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>20</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>21</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>22</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>23</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>24</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>25</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>26</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>27</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>28</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>29</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>30</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>31</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>32</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>33</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>34</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>35</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>36</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>37</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>38</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>39</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	<tr>
	<td>40</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    </tr>
	</tbody>
	</table>
	<br><br>



</body>
</html>