<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gradecard</title>
    <style>
		ul{
		list-style-type:none;
		}

		li{
		padding:10px;
		}

		div{
		text-align:center;
		}

		body{
		border-style:solid;
		border-width:5px;
		}

		table{
		border: 2px solid black;
		border-collapse: collapse;
		border-spacing:5em;
		margin-left:30px;
		margin-right:20px;

		align:center;
		}
		td,th{
		padding:15px;
		text-align:center;
		}
		thead{
		height:50px;
		padding:20px;
		}
		#x,#y{
		text-align:left;
		}
	</style>
</head>
<body>
	<div>
		<h1 style="font-family:'Times New Roman'"><b>The National Institute Of Engineering</b></h1>
		<h3 style="font-family:'Times New Roman'">(Autonomous Institute Under Visveswaraya Technological University<Belagavi)</h3>
		<h3 style="font-family:'Times New Roman'">Mysuru-570008,PH. NO. 0821-4004950/2480996</h3>

		<h2 style="font-family:'Times New Roman'"><u><b>PROVISIONAL GRADE CARD</b></u></h2>
    </div>
	<ul>
	    <li><b>NAME:</b></li>
	    <li><b>USN:</b></li>
	    <li><b>SEMESTER:</b></li>
	    <li><b>BRANCH:</b></li>
	    <li><b>ACADEMIC YEAR:</b></li>
	</ul>

	<table border="1" width="95%" cellspacing="10px">

	    <thead >
            <th width="2%" height="10px"><b>Sl no</b></th>
	        <th width="10%" height="10px"><b>Subject Code</b></th>
	        <th width="10%" height="10px"><b>Credits</b></th>
	        <th width="10%" height="10px"><b>Grade</b></th>
        </thead>

	    <tbody>
	        <tr>
	            <td >1</td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	        <tr>
	            <td>2</td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	        <tr>
	            <td>3</td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	        <tr>
	            <td>4</td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	        <tr>
	            <td>5</td>
	            <td></td>
	            <td></td>
	            <td></td>
            </tr>
	        <tr>
				<td>6</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>7</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>



			<tr>
				<td colspan="4" id="x"><b>Total Earned Credits</b></td>
			</tr>
			<tr>
				<td colspan="4" id="y"><b>Semester Grade Point Average</b></td>
			</tr>
		</tbody>
	</table>
	<br>
	<table border="1" width="1200px">
		<tbody>
			<tr>
				<td><b>Letter Grade</b></td>
				<td>S</td>
				<td>A</td>
				<td>B</td>
				<td>C</td>
				<td>D</td>
				<td>F</td>
			</tr>
			<tr>
				<td><b>Grade Point</b></td>
				<td>10</td>
				<td>9</td>
				<td>8</td>
				<td>7</td>
				<td>5</td>
				<td>0</td>
			</tr>
		</tbody>
	<table>

	<p style="font-size:20px">&ensp;&ensp;&ensp;S,A,B,C&D are Pass Grades,F is Fail Grade</p>
	<p style="font-size:20px">&ensp;&ensp;&ensp;This Provisional Grade Card is issued at the specific request of the student</p><br>
	<p><b>&ensp;&ensp;&ensp;
	Prepared by: &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	Scrutinized by:  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Date of issue:</b></p><br><br>



</body>
</html>