<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hallticket</title>
<style>
	    ul{
		list-style-type:none;
		}

		li{
		padding:10px;
		}

		div{
		text-align:center;
		}

		body{
		border-style:solid;
		border-width:5px;
		}

		table{
		border: 2px solid black;
		border-collapse: collapse;
		border-spacing:5em;
		margin-left:30px;
		margin-right:20px;

		align:center;
		}
		td{
		padding:15px;
		}


	</style>
</head>
<body>
	<div>
		<h1 style="font-family:'Times New Roman'"><b>The National Institute Of Engineering</b></h1>
		<h3 style="font-family:'Times New Roman'">Mysuru-570008,PH. NO. 0821-4004950/2480996</h3>

		<h2 style="font-family:'Times New Roman'"><u>SEMESTER END EXAMINATION (SEE)</u></h2>
		<h3 style="font-family:'Times New Roman'"><u>ADMISSION TICKET</u></h3>
    </div>
	<ul>
	    <li><b>NAME:</b></li>
	    <li><b>USN:</b></li>
	    <li><b>SEMESTER:</b></li>
	    <li><b>BRANCH:</b></li>
	    <li><b>SECTION:</b></li>
	</ul>
	<table border="1" width="95%" cellspacing="10px">

	    <thead>
	        <th width="10%"><b>Date</b></th>
	        <th width="10%"><b>Regular/Repeater</b></th>
	        <th width="10%"><b>Subject Code</b></th>
	        <th width="20%"><b>Subject</b></th>
	        <th width="12%"><b>Time</b></th>
	        <th width="13%"><b>Room number-Seat number</b></th>
	        <th><b>Invigilator's Signature</b></th>
	    </thead>

	    <tbody>
	        <tr>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	        <tr>
                <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	        <tr>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
                <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	        <tr>
	            <td></td>
	            <td></td>
	            <td></td>
                <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	        <tr>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>


	    </tbody>
	</table>

	<br><br><br>
	<p><b>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	CONTROLLER OF EXAMINATION&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	PRINCIPAL  &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;STUDENT</b></p>
	<p>* Conditions of AEC apply







	<h3><b>INSTRUCTIONS TO CANDIDATES</b></h3>
		<ul>
		    <li>1. Candidates shall note carefully the date, time and title of the course to be held each day. They shall
		take their places in the alloted examination room at least 10 minutes before the time fixed for the
		commencement of the examination. A candidate should not be allowed after half an hour of the
		schedule time.</li>
		    <li>2. Candidates shall search their pockets, desks and benches and handover to the Superintendent any
		paper. Book or note which may find therein, before starting to answer the papers of their examination.</li>
		    <li>3. Candidates shall affix their signature in token of their receiving the answer book in the
		Superintendent's dairy. They shall also affix their initials every time they receive an additional
		Drawing/Graph sheet.</li>
		    <li>4. Candidates shall not be allowed to leave the examination room till the expiry of at least half an hour
		after the question paper has been distributed. A candidate who leaves the room during the period
		allotted for a paper shall not be allowed to return within the period.</li>
		    <li>5. Under no circumstances shall the candidates give their identity anywhere else other than in the
		space provided to write the Register Number.</li>
		    <li>6. You are required to use the same Admission Ticket throughout the SEE. In case, if the Admission
		Ticket is lost, you should get the duplicate from the examination section only by paying a penalty of
		Rs. 100/-.</li>
		</ul>
	<h3><b>FOLLOWING ACT OF STUDENT ARE CONSIDERED AS MALPRACTICE</b></h3>
	    <ul>
		    <li>1. Any candidate having in his/her possession any Digital device(Advanced devices like Smart
		Watches, Ear Phones, Bluetooth/WIFI Devices etc) or access to paper, books or notes which might,
		possibly be of assistance to him/her or found giving or receiving assistance, or copying from any
		paper, book or note or allowing any other candidate to copy from his/her answer book shall be
		debarred for a period which may extend to 2 years.</li>
		    <li>2. Any candidate found guilty of deliberate previous arrangement to cheat in the examination, such as
		smuggling another answer book sheets, imperonation or some other misconduct of a serious nature,
		shall be debarred for a period which may extend to 5 years.</li>
		</ul>


</body>
</html>