<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
		<title>Upload Marks</title>
		<style>
		ul{
		list-style-type:none;
		margin-left:150px;
		}
		h1{
		text-align:center;
		}
		td{
		text-align:center;
		}
		#x{
		border:1px solid black;
		}
		#submit{
		position:absolute;
		right:21.5%;
		}
		.y{
		text-align:center;
		}
		form{
		margin-left:100px;
		}

		</style>
	</head>
	<body>
	<h1 style="font-family:'Times New Roman'"><b><u>Upload Marks</u></b></h1>
	<ul>
	<li><b>COURSE CODE:</b></li><br>
	<li><b>YEAR:</b></li><br>
	<li><b>SECTION:</b></li><br>
	</ul>
	<form action="url" method="get">
		<table rules="cols" width="80%">
			<thead id="x">
			<th width="3%"><b>Sl no.</u></b></th>
			<th width="10%"><b>USN</u></b></th>
			<th width="15%"><b>NAME</u></b></th>
			<th width="5%"><b>TEST 1</u></b></th>
			<th width="5%"><b>TEST 2</u></b></th>
			<th width="5%"><b>TEST 3</u></b></th>
			</thead>

			<tbody>
			<tr>
			<td>1</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>
			<tr>
			<td>2</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>
			<tr>
			<td>3</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>
			<tr>
			<td>4</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>
			<tr>
			<td>5</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>
			<tr>
			<td>6</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>
			<tr>
			<td>7</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>
			<tr>
			<td>8</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>
			<tr>
			<td>9</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>
			<tr>
			<td>10</td>
			<td></td>
			<td></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			<td><input type="number" name="num" min="0" max="25"></td>
			</tr>

		</table>
		<br><br>
		<div class="y">
		<input type="submit" value="submit" id="submit" id="submit">
		</div>
	</form>
			</body>
</html>